
{% extends "partials/base.html" %}
{% block content %}


<div class="min-h-screen pt-8">
    <div>
        <h1 class="font-bold text-5xl text-center">
            Análise de Dados ShopMD
        </h1>
        <div class="mt-10 p-5 max-w-7xl mx-auto space-y-7">
            <div class="lg:flex lg:space-x-7 space-y-2 lg:space-y-0">
                <div class="flex space-x-7">
                    <div>
                        <label for="data" class="font-bold text-sm"> De:</label>
                        <input type="date"  class="rounded-xl block bg-gray-100 font-semibold text-center text-indigo-600 border-indigo-600 cursor-pointer">
                    </div>
                    <div>
                        <label for="data" class="font-bold text-sm"> Até:</label>
                        <input type="date"  class="rounded-xl block bg-gray-100 font-semibold text-center text-indigo-600 border-indigo-600 cursor-pointer">
                    </div>
                </div>

                <div>
                    <label for="total" class="font-bold text-sm">Total de Acessos:</label>
                    <input type="text" value="183" disabled class="rounded-xl block bg-gray-100 font-semibold w-24 text-center text-indigo-600 border-indigo-600">
                </div>
            </div>
            

            <div class="lg:flex lg:space-x-7 space-y-7 lg:space-y-0 lg:h-[400px]">
                <div class="bg-[#21242e] mx-auto w-11/12 lg:w-1/2 border rounded-xl shadow-xl">
                    <p class="text-white ml-4 mt-2 font-semibold leading-loose">Produtos mais vendidos:</p>
                    <div class="p-2 flex items-center justify-center w-full h-5/6">
                        <canvas  id="produtos-mais-acessados"></canvas>
                    </div>
                </div>

                <div class="bg-[#21242e] mx-auto w-11/12 lg:w-1/2 border rounded-xl shadow-xl">
                    <p class="text-white ml-4 mt-2 font-semibold leading-loose">Influencers mais acessados:</p>
                    <div class="p-2 flex items-center justify-center w-full h-5/6">
                        <canvas id="influencers-mais-acessados"></canvas>
                    </div>
                </div>
            </div>

            <div class="lg:flex lg:space-x-7 space-y-7 lg:space-y-0 lg:h-[400px]">
                
                <div class="bg-[#21242e] mx-auto w-11/12 lg:w-1/2 border rounded-xl shadow-xl">
                    <p class="text-white ml-4 mt-2 font-semibold leading-loose">Revendas mais acessadas:</p>
                    <div class="p-2 flex items-center justify-center w-full h-5/6">
                        <canvas  id="revendas-mais-acessadas"></canvas>
                    </div>
                </div>

                <div class="bg-[#21242e] mx-auto w-11/12 lg:w-1/2 border rounded-xl shadow-xl">
                    <p class="text-white ml-4 mt-2 font-semibold leading-loose">Influencers que mais venderam:</p>
                    <div class="p-2 flex items-center justify-center w-full h-5/6">
                        <canvas id="influencers-mais-venderam"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const influencersMaisAcessados = document.querySelector('#influencers-mais-acessados')
    const influencersMaisVenderam = document.querySelector('#influencers-mais-venderam')
    const revendasMaisAcessadas = document.querySelector('#revendas-mais-acessadas')
    const produtosMaisAcessados = document.querySelector('#produtos-mais-acessados')


    const dataInfluencers = ['João', 'Maria', 'José', 'Carlos', 'Ana'] 
    const valoresInfluencersMaisAcessados = [2, 12, 5, 10, 6]
    const valoresInfluencersMaisVenderam = [12, 19, 15, 8, 10]

    const dataRevendasMaisAcessadas = ['MedJet', 'Tato', 'Ribermédica', 'Medical', 'Sinete']
    const valoresRevendasMaisAcessadas = [30, 21, 14, 17, 26]

    const dataProdutosMaisAcessados = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out','Nov','Dez']
    const valoresProdutosMaisAcessados = [12, 19, 23, 15, 22, 10, 7, 17, 13, 5, 18, 8]


    function geradorDeCores(qtd=1){
        var bg_color = []
        var border_color = []
        for(let i = 0; i<qtd; i++){
            let r = Math.random() * 255;
            let g = Math.random() * 255;
            let b = Math.random() * 255;
            bg_color.push(`rgba(${r}, ${g}, ${b}, ${0.3})`)
            border_color.push(`rgba(${r}, ${g}, ${b}, ${1})`)
        }
        return [bg_color, border_color];
    };

    function renderiza_produtos_mais_acessados(){
        const ctx = produtosMaisAcessados.getContext('2d');
        var cores_produtos_mais_acessados = geradorDeCores(qtd=12)
        const myChart = new Chart(ctx, {
            type:'bar',
            data: {
                labels:dataProdutosMaisAcessados,
                datasets: [{
                    label: 'Produtos Mais Acessados',
                    data: valoresProdutosMaisAcessados,
                    backgroundColor: cores_produtos_mais_acessados[0],
                    borderColor: cores_produtos_mais_acessados[1],
                    borderWidth: 1,
                }]
            }
        })
    }

    function renderiza_revendas_mais_acessados(){
        const ctx = revendasMaisAcessadas.getContext('2d');
        var cores_revendas_mais_acessados = geradorDeCores(qtd=5)
        const myChart = new Chart(ctx, {
            type:'doughnut',
            data: {
                labels:dataRevendasMaisAcessadas,
                datasets: [{
                    label: 'Revendas Mais Acessadas',
                    data: valoresRevendasMaisAcessadas,
                    backgroundColor: cores_revendas_mais_acessados[0],
                    borderColor: cores_revendas_mais_acessados[1],
                    borderWidth: 1,
                }]
            }
        })
    }

    function renderiza_influencers_mais_acessados(){
        const ctx = influencersMaisAcessados.getContext('2d');
        var cores_influencers_mais_acessados = geradorDeCores(qtd=5)
        const myChart = new Chart(ctx, {
            type:'line',
            data: {
                labels:dataInfluencers,
                datasets: [{
                    label: 'influencers Mais Acessadas',
                    data: valoresInfluencersMaisAcessados,
                    backgroundColor: cores_influencers_mais_acessados[0],
                    borderColor: cores_influencers_mais_acessados[1],
                    borderWidth: 1,
                }]
            }
        })
    }

    function renderiza_influencers_mais_venderam(){
        const ctx = influencersMaisVenderam.getContext('2d');
        var cores_influencers_mais_venderam = geradorDeCores(qtd=12)
        const myChart = new Chart(ctx, {
            type:'polarArea',
            data: {
                labels:dataInfluencers,
                datasets: [{
                    label: 'Influencers que mais venderam',
                    data: valoresInfluencersMaisVenderam,
                    backgroundColor: cores_influencers_mais_venderam[0],
                    borderColor: cores_influencers_mais_venderam[1],
                    borderWidth: 1,
                }]
            }
        })
    }
    
    renderiza_produtos_mais_acessados()
    renderiza_revendas_mais_acessados()
    renderiza_influencers_mais_acessados()
    renderiza_influencers_mais_venderam()

</script>








{% endblock %}